@import "tailwindcss";

:root:has(.handle-menu) {
  overflow: hidden;
}

@theme {
  --breakpoint-xs: 32rem;
  --breakpoint-3xl: 115rem;

  --breakpoint-custom: 50rem;

  --font-bitter: "Bitter", serif;
  --font-dm-sans: "DM Sans", sans-serif;
  --font-dm-mono: "DM Mono", monospace;

  --color-off-white: rgb(232, 232, 227); /* 1 */
  --color-light-sage: rgb(192, 198, 191); /* 2 */
  --color-sage: rgb(151, 166, 159); /* 3 */
  --color-muted-teal: rgb(111, 135, 133); /* 4 */
  --color-steel-blue: rgb(75, 103, 110); /* 5 */
  --color-deep-teal: rgb(47, 72, 88); /* 6 */
}

@layer utilities {
  ::-webkit-scrollbar {
    width: 8px;
  }

  ::-webkit-scrollbar-track {
    background: var(--color-off-white);
  }

  ::-webkit-scrollbar-thumb {
    background: var(--color-deep-teal);
    border-radius: 0;
  }

  ::-webkit-scrollbar-thumb:hover {
    cursor: pointer;
  }

  .scrollbar::-webkit-scrollbar {
    width: 12px;
    height: 20px;
  }

  .scrollbar::-webkit-scrollbar-track {
    background: none;
  }

  .scrollbar::-webkit-scrollbar-thumb {
    background: var(--color-deep-teal);
  }

  .outlined-text {
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: var(--color-deep-teal);
  }

  @media (min-width: 500px) {
    .outlined-text {
      -webkit-text-stroke-width: 2px;
    }
  }
}
